body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid white;
  height: 100vh;
  background-color: black;
}

.animationImage {
  width: 5rem;
  height: 5rem;
}

#Conway {
  width: 30rem;
  height: 30rem;
}

#animation {
  display: flex;
  flex-direction: row;
}
